{% load static %}
<html>
    <head>
        <title>Muda</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/exampleStyles.css' %}">
    </head>
    <body>
        <h1>A website where you can upload pictures of your outfits!</h1>
        <p>This is an example index page to be replaced once this gets pushed to github</p>
        <p>{{exampleText}}</p>
        <p>And finally, here is an example of loading an image file: <img src="{% static 'images/exampleImage.jpg' %}"></p>
    </body>
</html>